In [1]:
import pandas as pd

In [2]:
import glob

In [3]:
# get data file names
path = r'Exercise Files'
filenames = glob.glob(path + "/crime_boston_*.csv")

dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
crime_boston = pd.concat(dfs, ignore_index=True)

In [4]:
crime_boston

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182063268,3115,Investigate Person,INVESTIGATE PERSON,C11,348,NaN,2018-08-09 14:00:00,2018,8,Thursday,14,Part Three,DORCHESTER AVE,42.304704,-71.059083,"(42.30470399, -71.05908258)"
1,I182063267,3301,Verbal Disputes,VERBAL DISPUTE,B2,611,NaN,2018-08-09 13:50:00,2018,8,Thursday,13,Part Three,HUNTINGTON AVE,42.333263,-71.108484,"(42.33326323, -71.10848410)"
2,I182063266,2647,Other,THREATS TO DO BODILY HARM,A7,15,NaN,2018-08-09 07:48:00,2018,8,Thursday,7,Part Two,CHAUCER ST,42.383419,-71.020190,"(42.38341902, -71.02019050)"
3,I182063265,520,Residential Burglary,BURGLARY - RESIDENTIAL - FORCE,A7,19,NaN,2018-08-09 01:00:00,2018,8,Thursday,1,Part One,SARATOGA ST,42.378648,-71.030892,"(42.37864819, -71.03089238)"
4,I182063264,1102,Fraud,FRAUD - FALSE PRETENSE / SCHEME,C11,332,NaN,2018-08-09 13:00:00,2018,8,Thursday,13,Part Two,GLENDALE ST,42.312985,-71.066515,"(42.31298495, -71.06651479)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399989,I152064460,802,Simple Assault,ASSAULT SIMPLE - BATTERY,C6,234,NaN,2015-08-04 19:02:00,2015,8,Tuesday,19,Part Two,E SEVENTH ST,42.332280,-71.036303,"(42.33228037, -71.03630323)"
399990,I152064455,3006,Medical Assistance,SICK/INJURED/MEDICAL - PERSON,C11,257,NaN,2015-08-04 18:38:00,2015,8,Tuesday,18,Part Three,EVERETT AVE,42.315267,-71.063069,"(42.31526714, -71.06306870)"
399991,I152064454,1843,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,D4,171,NaN,2015-08-04 19:19:00,2015,8,Tuesday,19,Part Two,ALBANY ST,42.333610,-71.073370,"(42.33361000, -71.07337000)"
399992,I152064453,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B3,466,NaN,2015-08-04 19:32:00,2015,8,Tuesday,19,Part Three,BLUE HILL AVE,42.283896,-71.091680,"(42.28389647, -71.09168024)"
399993,I152064452,2907,Violations,VAL - OPERATING AFTER REV/SUSP.,C11,279,NaN,2015-08-04 16:28:00,2015,8,Tuesday,16,Part Two,DUDLEY ST,42.328535,-71.082139,"(42.32853529, -71.08213874)"

In [5]:
crime_boston.groupby('INCIDENT_NUMBER').count()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
INCIDENT_NUMBER,,,,,,,,,,,,,,,,
I152061042,1,1,1,1,1,0,1,1,1,1,1,1,0,0,0,1
I152063808,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I152064285,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I152064452,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I152064453,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
I192064800,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064803,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064808,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064810,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1
I192064813,1,1,1,1,1,0,1,1,1,1,1,1,1,0,0,1

In [6]:
offense = pd.read_excel('Exercise Files/offense_codes_boston.xlsx')

In [7]:
offense

     CODE                                       NAME
0     612           LARCENY PURSE SNATCH - NO FORCE
1     613                        LARCENY SHOPLIFTING
2     615    LARCENY THEFT OF MV PARTS & ACCESSORIES
3    1731                                     INCEST
4    3111                  LICENSE PREMISE VIOLATION
..    ...                                        ...
571  1806  DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS
572  1807  DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS
573  1610    HUMAN TRAFFICKING - COMMERCIAL SEX ACTS
574  2010                              HOME INVASION
575  1620  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE

[576 rows x 2 columns]