# 07_02: Loading Baby Names

In [1]:
# note: this notebook requires Python 3.6 or higher

In [10]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [11]:
pd.options.display.max_rows = 8

In [12]:
import zipfile

In [14]:
zipfile.ZipFile('names_new.zip').extractall('names')

In [6]:
ls

07_02_loading.ipynb*    07_06_solution.ipynb*   names_new.zip
07_03_popularity.ipynb* names/
07_04_topten.ipynb*     names.zip*

In [15]:
ls -la names

total 50496
drwxr-xr-x  142 a0a00uj  HOMEOFFICE\Domain Users    4544 28 Apr 09:15 ./
drwxr-xr-x@  10 a0a00uj  HOMEOFFICE\Domain Users     320 28 Apr 09:15 ../
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  316364 28 Apr 09:15 NationalReadMe.pdf
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   24933 28 Apr 09:15 yob1880.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   24065 28 Apr 09:15 yob1881.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   26559 28 Apr 09:15 yob1882.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   26002 28 Apr 09:15 yob1883.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   28670 28 Apr 09:15 yob1884.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   28625 28 Apr 09:15 yob1885.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   29822 28 Apr 09:15 yob1886.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   29531 28 Apr 09:15 yob1887.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   33064 28 Apr 09:15 yob1888.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   32297 28 Apr 09:15 yob1889.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   33621 28 Apr 09:15 yob1890.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   33186 28 Apr 09:15 yob1891.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   36542 28 Apr 09:15 yob1892.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   35433 28 Apr 09:15 yob1893.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   36817 28 Apr 09:15 yob1894.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   38232 28 Apr 09:15 yob1895.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   38747 28 Apr 09:15 yob1896.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   37936 28 Apr 09:15 yob1897.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   40924 28 Apr 09:15 yob1898.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   38141 28 Apr 09:15 yob1899.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   46859 28 Apr 09:15 yob1900.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   39584 28 Apr 09:15 yob1901.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   42284 28 Apr 09:15 yob1902.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   42679 28 Apr 09:15 yob1903.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   44808 28 Apr 09:15 yob1904.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   46003 28 Apr 09:15 yob1905.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   45845 28 Apr 09:15 yob1906.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   49829 28 Apr 09:15 yob1907.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   50841 28 Apr 09:15 yob1908.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   53501 28 Apr 09:15 yob1909.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   58710 28 Apr 09:15 yob1910.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   61761 28 Apr 09:15 yob1911.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   80729 28 Apr 09:15 yob1912.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users   88705 28 Apr 09:15 yob1913.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  101543 28 Apr 09:15 yob1914.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  119431 28 Apr 09:15 yob1915.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  123876 28 Apr 09:15 yob1916.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  126774 28 Apr 09:15 yob1917.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  133055 28 Apr 09:15 yob1918.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  132729 28 Apr 09:15 yob1919.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  137757 28 Apr 09:15 yob1920.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  139192 28 Apr 09:15 yob1921.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  138159 28 Apr 09:15 yob1922.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  136669 28 Apr 09:15 yob1923.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  139609 28 Apr 09:15 yob1924.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  136776 28 Apr 09:15 yob1925.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  134302 28 Apr 09:15 yob1926.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  133882 28 Apr 09:15 yob1927.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  130705 28 Apr 09:15 yob1928.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  126445 28 Apr 09:15 yob1929.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  125956 28 Apr 09:15 yob1930.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  119615 28 Apr 09:15 yob1931.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  120774 28 Apr 09:15 yob1932.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  115898 28 Apr 09:15 yob1933.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  118063 28 Apr 09:15 yob1934.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  116298 28 Apr 09:15 yob1935.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  114342 28 Apr 09:15 yob1936.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  115342 28 Apr 09:15 yob1937.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  116361 28 Apr 09:15 yob1938.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  114798 28 Apr 09:15 yob1939.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  115651 28 Apr 09:15 yob1940.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  117219 28 Apr 09:15 yob1941.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  121646 28 Apr 09:15 yob1942.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  121517 28 Apr 09:15 yob1943.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  118114 28 Apr 09:15 yob1944.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  116520 28 Apr 09:15 yob1945.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  125468 28 Apr 09:15 yob1946.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  134063 28 Apr 09:15 yob1947.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  132440 28 Apr 09:15 yob1948.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  132865 28 Apr 09:15 yob1949.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  133226 28 Apr 09:15 yob1950.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  135493 28 Apr 09:15 yob1951.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  137646 28 Apr 09:15 yob1952.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  140143 28 Apr 09:15 yob1953.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  141667 28 Apr 09:15 yob1954.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  143627 28 Apr 09:15 yob1955.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  146563 28 Apr 09:15 yob1956.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  149144 28 Apr 09:15 yob1957.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  148695 28 Apr 09:15 yob1958.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  151947 28 Apr 09:15 yob1959.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  154030 28 Apr 09:15 yob1960.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  157606 28 Apr 09:15 yob1961.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  157996 28 Apr 09:15 yob1962.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  158901 28 Apr 09:15 yob1963.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  160568 28 Apr 09:15 yob1964.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  155011 28 Apr 09:15 yob1965.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  157419 28 Apr 09:15 yob1966.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  160606 28 Apr 09:15 yob1967.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  167452 28 Apr 09:15 yob1968.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  177991 28 Apr 09:15 yob1969.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  191516 28 Apr 09:15 yob1970.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  198166 28 Apr 09:15 yob1971.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  199468 28 Apr 09:15 yob1972.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  203048 28 Apr 09:15 yob1973.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  210504 28 Apr 09:15 yob1974.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  219193 28 Apr 09:15 yob1975.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  224915 28 Apr 09:15 yob1976.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  235016 28 Apr 09:15 yob1977.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  235976 28 Apr 09:15 yob1978.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  246474 28 Apr 09:15 yob1979.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  251455 28 Apr 09:15 yob1980.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  251898 28 Apr 09:15 yob1981.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  254894 28 Apr 09:15 yob1982.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  250968 28 Apr 09:15 yob1983.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  252735 28 Apr 09:15 yob1984.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  260330 28 Apr 09:15 yob1985.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  268116 28 Apr 09:15 yob1986.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  278403 28 Apr 09:15 yob1987.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  291074 28 Apr 09:15 yob1988.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  309554 28 Apr 09:15 yob1989.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  322047 28 Apr 09:15 yob1990.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  327203 28 Apr 09:15 yob1991.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  331559 28 Apr 09:15 yob1992.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  337914 28 Apr 09:15 yob1993.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  338223 28 Apr 09:15 yob1994.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  339136 28 Apr 09:15 yob1995.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  343055 28 Apr 09:15 yob1996.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  350104 28 Apr 09:15 yob1997.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  361635 28 Apr 09:15 yob1998.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  369390 28 Apr 09:15 yob1999.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  385101 28 Apr 09:15 yob2000.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  391165 28 Apr 09:15 yob2001.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  394821 28 Apr 09:15 yob2002.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  402610 28 Apr 09:15 yob2003.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  413495 28 Apr 09:15 yob2004.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  420214 28 Apr 09:15 yob2005.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  440363 28 Apr 09:15 yob2006.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  451397 28 Apr 09:15 yob2007.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  452865 28 Apr 09:15 yob2008.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  448033 28 Apr 09:15 yob2009.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  439608 28 Apr 09:15 yob2010.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  437159 28 Apr 09:15 yob2011.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  435049 28 Apr 09:15 yob2012.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  428768 28 Apr 09:15 yob2013.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  428107 28 Apr 09:15 yob2014.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  426134 28 Apr 09:15 yob2015.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  424451 28 Apr 09:15 yob2016.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  418588 28 Apr 09:15 yob2017.txt
-rw-r--r--    1 a0a00uj  HOMEOFFICE\Domain Users  411162 28 Apr 09:15 yob2018.txt

In [16]:
open('names/yob2011.txt','r').readlines()[:10]

['Sophia,F,21842\n',
 'Isabella,F,19910\n',
 'Emma,F,18803\n',
 'Olivia,F,17322\n',
 'Ava,F,15503\n',
 'Emily,F,14258\n',
 'Abigail,F,13248\n',
 'Madison,F,12389\n',
 'Mia,F,11530\n',
 'Chloe,F,10991\n']

In [17]:
pd.read_csv('names/yob2011.txt')

         Sophia  F  21842
0      Isabella  F  19910
1          Emma  F  18803
2        Olivia  F  17322
3           Ava  F  15503
...         ... ..    ...
33903     Zylas  M      5
33904     Zyran  M      5
33905   Zyshawn  M      5
33906  Zytavion  M      5

[33907 rows x 3 columns]

In [18]:
pd.read_csv('names/yob2011.txt', names=['name','sex','number'])

           name sex  number
0        Sophia   F   21842
1      Isabella   F   19910
2          Emma   F   18803
3        Olivia   F   17322
...         ...  ..     ...
33904     Zylas   M       5
33905     Zyran   M       5
33906   Zyshawn   M       5
33907  Zytavion   M       5

[33908 rows x 3 columns]

In [20]:
# load CSV file as DataFrame, then create a new column "year" with all elements set to 2011
pd.read_csv('names/yob2011.txt', names=['name','sex','number']).assign(year=2011)

           name sex  number  year
0        Sophia   F   21842  2011
1      Isabella   F   19910  2011
2          Emma   F   18803  2011
3        Olivia   F   17322  2011
...         ...  ..     ...   ...
33904     Zylas   M       5  2011
33905     Zyran   M       5  2011
33906   Zyshawn   M       5  2011
33907  Zytavion   M       5  2011

[33908 rows x 4 columns]

In [21]:
# for each year in 1880-2018, load the corresponding CSV file names/yobXXXX.txt
# as DataFrame, create new column "year" with all elements set to loop variable,
# then concatenate all DataFrames into a single one
allyears = pd.concat(pd.read_csv(f'names/yob{year}.txt',
                                 names=['name','sex','number']).assign(year=year)
                     for year in range(1880, 2019))

In [23]:
allyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1957046 entries, 0 to 32032
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   name    object
 1   sex     object
 2   number  int64
 3   year    int64
dtypes: int64(2), object(2)
memory usage: 74.7+ MB

In [24]:
allyears.year.min(), allyears.year.max()

(1880, 2018)

In [25]:
# save DataFrame to compressed CSV file, dropping uninteresting index
allyears.to_csv('allyears.csv.gz', index=False)